.thematic-map-attribute-table {
  max-width: 500px;
  max-height: 400px;
  /deep/ .ant-table {
    line-height: 1.2;
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 10px;
      white-space: pre-wrap;
    }

    .ant-table-body {
      overflow: auto !important;
      .highlight {
        background: rgba(65, 174, 255, 0.2);
      }
    }
  }
  /deep/.ant-table-pagination.ant-pagination {
    float: unset;
    text-align: center;
  }
  .attribute-table-head {
    margin-bottom: 10px;
    .ant-select {
      width: 100%;
    }
  }
}
