.thematic-map-time-line {
  position: relative;
  min-width: 400px;

  /deep/ .ant-empty-normal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .thematic-map-time-line-btn {
    font-size: 20px;
    cursor: pointer;
  }

  #thematic-map-time-line-chart {
    width: 360px;
    height: 60px;
  }
}
