.thematic-map-time-line {
  position: relative;
  min-width: 400px;

  /deep/ .ant-empty-normal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .thematic-map-time-line-btn {
    font-size: 22px;
    cursor: pointer;
    color: #a4b1d7;
    margin-top: 1px;
    &:hover {
      color: @primary-color;
    }
  }

  #thematic-map-time-line-chart {
    width: 360px;
    height: 48px;
  }
}
