* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** 2021/6/8
     * @Author: 何龙
     * @Desc: 默认flex布局
     */
@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: center,
  $flex-grow: 0,
  $flex-wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-grow: $flex-grow;
  flex-wrap: $flex-wrap;
}

/** 2021/6/8
     * @Author: 何龙
     * @Desc: 水平垂直居中flex布局
     */
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
