.thematic-map-statistic-graph {
  .target {
    margin-bottom: 10px;
    .ant-select {
      width: 100%;
    }
    .anticon {
      font-size: 20px;
      margin-left: 16px;
      color: #d9d9d9;
      cursor: pointer;
      transition: color 0.3s linear;
      &.active {
        color: @primary-color;
      }
    }
  }

  .empty-tip,
  #thematic-map-graph-chart {
    width: 338px;
    height: 250px;
  }

  .empty-tip {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
