.split-screen-setting {
  height: 100%;
  border-left: 1px solid #f0f0f0;
  padding-left: 12px;
  margin-left: 12px;
  /deep/ .ant-select {
    width: 100%;
  }
  /deep/ .ant-row-flex {
    margin: 12px 0;
  }
  .split-screen-grid {
    width: 90px;
    margin: 16px 0;
    &-col {
      width: 30px;
      height: 20px;
      line-height: 20px;
      color: #999;
      border: 1px solid #d9d9d9;
      background-color: #efefef;
      text-align: center;
    }
  }
  .split-screen-btns {
    text-align: right;
    margin: 12px 0;
    button {
      margin-left: 8px;
    }
  }
}
