.split-screen-setting {
  position: relative;
  width: 256px;
  height: 100%;
  margin-left: 16px;
  border-left: 1px solid @primary-color;
  transition: transform 0.3s, width 0.3s, marginLeft 0.3s;
  .setting-handle {
    position: absolute;
    height: 64px;
    line-height: 64px;
    top: 50%;
    left: -15px;
    text-align: center;
    color: @primary-color;
    background-color: @base-bg-color;
    border-top-left-radius: @border-radius-base;
    border-bottom-left-radius: @border-radius-base;
    border: 1px solid @primary-color;
    border-right-color: transparent;
    cursor: pointer;
    i {
      transition: transform 0.3s;
    }
    &:hover {
      color: white;
      background: @primary-color;
    }
  }
  .setting-content {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    /deep/ .ant-select {
      width: 100%;
    }
    /deep/ .ant-row-flex {
      margin: 12px 0;
    }
    .grid {
      width: 88px;
    }
    .col {
      width: 30px;
      height: 20px;
      line-height: 20px;
      color: #999;
      border: 1px solid #d9d9d9;
      background-color: #efefef;
      text-align: center;
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        border-top: none;
      }
      &:nth-of-type(2n) {
        border-left: none;
      }
    }
    .btns {
      text-align: right;
      margin: 12px 0;
    }
  }
  &.collapsed {
    width: 0;
    margin-left: 4px;
    transform: translateX(calc(100% + 12px));
    .setting-handle i {
      transform: rotate(360deg);
    }
    .setting-content {
      opacity: 0;
    }
  }
}
