.text-title {
  color: var(--q-color-text-title);
}

.bg-title {
  background-color: var(--q-color-bg-title);
}

.text-container {
  color: var(--q-color-text-container);
}

.bg-container {
  background-color: var(--q-color-bg-container);
}
