.mp-widget-swipe {
  width: 100%;
  height: 100%;
  .swipe-container {
    width: 100%;
    height: 100%;
    position: relative;
    .swipe-content {
      height: 100%;
      overflow: auto;
      position: relative;
      > div {
        height: 100%;
      }
      .swipe-no-data-tip {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .swipe-setting-handle {
      position: absolute;
      height: 64px;
      top: calc(50% - 32px);
      left: -16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: @base-bg-color;
      border-radius: 4px 0 0 4px;
      border: 1px solid @primary-color;
      border-right-color: transparent;
      cursor: pointer;

      &:hover {
        color: white;
        background: @primary-color;
      }
    }
    .swipe-setting-panel {
      height: 100%;
      .swipe-select {
        width: 100%;
      }
    }
  }
}
