.mp-widget-swipe,
.swipe-row {
  width: 100%;
  height: 100%;
}
.swipe-col1 {
  height: 100%;
  overflow: auto;
  position: relative;
  padding-right: 12px;
  .swipe-no-data-tip {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.swipe-col2 {
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #f0f0f0;
  padding-left: 12px;

  /deep/ .ant-col:first-of-type {
    line-height: 28px;
    + .ant-col {
      margin-bottom: 12px;
    }
  }
}
.swipe-select {
  width: 100%;
}
.mapbox-view-cls {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
